/build/
/config/
/dist/
/*.js
/test/unit/coverage/
/src/assets/lib-external/*
/src/assets/lib/*
/src/core/*
/src/lib/*
/src/components/editor/
/src/components/params/
/src/components/Teach/
/src/components/Teach.vue
/src/components/Params.vue
/src/components/Editor.vue
/src/components/DialogProjs.vue
/src/components/DialogText.vue
/src/components/CustomSelect.vue
/src/components/DialogDelete.vue
/src/components/DialogTeachProjName.vue
/src/components/DialogTeachSaveRecord.vue
/src/components/DialogTeachAlert.vue
/src/components/AppStore.vue
/src/components/appStore/
/src/components/MyApp.vue
/src/components/ThirdParty.vue
/src/components/Blockly/Dialogs.vue
/src/router/*
